<!DOCTYPE html>
<html lang="en">

<!-- Head Section Content -->

<head>
    <meta charset="UTF-8">

    <!-- Page title -->
    <title>Molveno Resort</title>
    <link rel="stylesheet" href="/css/main.css">
    <script src="/js/home.js"></script>
</head>

<style>

</style>

<!-- Body Section Content -->


<body>


<!-- Heading Content -->
<h1><img src="result.png" alt="logo" style="float:left;width:70px;height:70px;">Molveno Resort</h1>
<h3> Restaurant</h3>

<h3>Staff Login</h3>

<!-- Creating a from -->
<form action="#">
    <fieldset>
        <legend>Personal Details</legend>

        <!-- Label and input field -->
        <p>
            <label>Email : <input name="email"/></label>
        </p>

        <p>
            <label>Password : <input name="password"/></label>
        </p>

        <!-- Label and radio button field -->
<!--        <p>-->
<!--            Role :-->
<!--            <label><input type="radio" name="gender" value="male"/> General Manager</label>-->
<!--            <label><input type="radio" name="gender" value="male"/> Restaurant Manager</label>-->
<!--            <label><input type="radio" name="gender" value="male"/> Chef</label>-->
<!--            <label><input type="radio" name="gender" value="female"/> Waitress</label>-->
<!--        </p>-->
        <!--

                    <p>
                        <label>Email : <input type="email" name="email" /></label>
                    </p>

                    <p>
                        <label>Date of Birth : <input type="date" name="birthDate"></label>
                    </p> -->

        <!-- Label and textarea field -->
        <!-- <p>
             <label>Address :
                 <br />
                 <textarea name="address" cols="30" rows="3"></textarea>
             </label>
         </p> -->

        <!-- Creating a button -->
        <p>
            <button type="submit">Submit</button>
        </p>
    </fieldset>
</form>
<div id="welcome"></div>

<label>
    Enter the Date:
    <input type="date" name="date">
</label>
<!-- Login Start -->
<div class="container-xxl py-5 px-0 wow fadeInUp" data-wow-delay="0.1s" id="login">
    <div class="row g-0">
        <div class="col-md-6 bg-dark d-flex align-items-center">
            <div class="p-5 wow fadeInUp" data-wow-delay="0.2s">
                <h5 class="section-title ff-secondary text-start text-primary fw-normal">Login</h5>
                <h1 class="text-white mb-4">Welcome !</h1>
                <form>
                    <div class="row g-3">
                        <div class="col-12">
                            <div class="form-floating">
                                <input type="email" class="form-control" id="email" placeholder="Your Email">
                                <label for="email">Your Email</label>
                            </div>
                        </div>
                        <div class="col-12">
                            <div class="form-floating">
                                <input type="password" class="form-control" id="password"
                                       placeholder="Your Password">
                                <label for="password">Your Password</label>
                            </div>
                        </div>


                        <div class="col-12">
                            <button class="btn btn-primary w-100 py-3" type="submit">Login</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
        <div class="col-md-6">
            <div class="video">
                <!-- <img src="img/png-clipart-capgemini-logo-capgemini-logo-business-insuretech-connect-cfo-rising-europe-summit-others-blue-text-thumbnail-removebg-preview.png" alt=""> -->
            </div>
        </div>
    </div>
</div>
<!-- Login End -->
<script>welcome();</script>
</body>

</html>