<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Restaurant</title>
    <meta th:include="fragments/head1 :: metas" th:remove="tag"/>

    <!-- Favicon -->
    <link href="img/Company_Logo-removebg-preview.png" rel="icon">

    <!-- Google Web Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
            href="https://fonts.googleapis.com/css2?family=Heebo:wght@400;500;600&family=Nunito:wght@600;700;800&family=Pacifico&display=swap"
            rel="stylesheet">

    <!-- Icon Font Stylesheet -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.0/css/all.min.css" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.4.1/font/bootstrap-icons.css" rel="stylesheet">
    <link href="css/style.css" rel="stylesheet">
    <!-- Libraries Stylesheet -->
    <link href="lib/animate/animate.min.css" rel="stylesheet">
    <link href="lib/owlcarousel/assets/owl.carousel.min.css" rel="stylesheet">
    <link href="lib/tempusdominus/css/tempusdominus-bootstrap-4.min.css" rel="stylesheet"/>

    <!-- Customized Bootstrap Stylesheet -->
    <link href="css/bootstrap.min.css" rel="stylesheet">

    <!-- jQuery library -->
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <!-- Phone  -->
    <!-- Test -->

    <script
            src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-timepicker/0.5.2/js/bootstrap-timepicker.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/intl-tel-input/17.0.8/css/intlTelInput.min.css">
    <link rel="stylesheet"
          href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-timepicker/0.5.2/css/bootstrap-timepicker.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/intl-tel-input/17.0.8/js/intlTelInput.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/intl-tel-input/17.0.8/js/utils.min.js"></script>

    <!-- Test -->
    <!-- Template Stylesheet -->

    <div th:insert="/fragments/header1 :: header"></div>

</head>

<body>
<!--Start-->
<div class="about-section">
    <h1 class="text-center mt-4"> About Us  </h1>
</div>
</div>

</div>


<div class="container mt-5">
    <div class="row">
        <div class="col-xs-12 col-sm-6 col-md-8 col-lg-8">
            <p>
                The restaurant in the new hotel is a culinary delight that will be sure to satisfy the most discerning palates. From the moment you step inside, you'll be transported to a world of culinary excellence, where every dish is a masterpiece. The restaurant is situated on the top floor of the hotel, offering panoramic views of the surrounding mountains and waterways. Its spacious and elegant dining room features floor-to-ceiling windows that allow guests to take in the breathtaking scenery while they dine.            </p>
        </div>
        <div class=" col-xs-12 col-sm-6 col-md-4 col-lg-4">
            <img src="img/aboutpage-1.jpg" alt="Image" class="img-responsive" height="200" width="300">
        </div>
    </div>


</div>

<div class="container mt-5">
    <div class="row">
        <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4 ">
            <img src="img/aboutpage-2.jpg" alt="Image" class="img-responsive" height="200" width="300">
        </div>
        <div class="col-xs-12 col-sm-6 col-md-8 col-lg-8">
        <p >
            The menu is a celebration of the best of Chinese and international cuisine, with an emphasis on locally-sourced, sustainable ingredients. Each dish is prepared with the utmost care and attention to detail, using traditional cooking techniques and innovative flavor combinations.    </div>

    </div>

</div>

<div class="container mt-5">
    <div class="row">
        <div class="col-xs-12 col-sm-6 col-md-8 col-lg-8" >
            <p>
                For guests seeking a more intimate dining experience, the restaurant also offers private dining rooms, each designed to provide a unique and memorable setting for special occasions and gatherings.

                With its impeccable service, breathtaking views, and world-class cuisine, the restaurant in the new hotel is sure to be one of the most sought-after dining destinations in the region.
        </div>

        <div class=" col-xs-12 col-sm-6 col-md-4 col-lg-4">
            <img src="img/aboutpage-44.jpg" alt="Image" class="img-responsive" height="200" width="300">
        </div>


    </div>


</div>


<div class="container mt-5">
    <div class="row">

        <div class=" col-xs-12 col-sm-6 col-md-4 col-lg-4">
            <img src="img/aboutpage-8.jpg" alt="Image" class="img-responsive" height="200" width="300">
        </div>
        <div class="col-xs-12 col-sm-6 col-md-8 col-lg-8">
            <p >
                The restaurant also boasts an extensive wine list, curated by a team of expert sommeliers. Whether you're looking for a rare vintage or a new discovery, you're sure to find something to suit your taste.            </p>
        </div>
    </div>
</div>


<!--End-->


<!-- Footer Start -->
<div th:insert="/fragments/footer :: footer"></div>
<!-- Footer End -->


<!-- Back to Top -->
<a href="#" class="btn btn-lg btn-primary btn-lg-square back-to-top"><i class="bi bi-arrow-up"></i></a>
</div>

<!-- JavaScript Libraries -->
<script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/js/bootstrap.bundle.min.js"></script>
<script src="lib/wow/wow.min.js"></script>
<script src="lib/easing/easing.min.js"></script>
<script src="lib/waypoints/waypoints.min.js"></script>
<script src="lib/counterup/counterup.min.js"></script>
<script src="lib/owlcarousel/owl.carousel.min.js"></script>
<script src="lib/tempusdominus/js/moment.min.js"></script>
<script src="lib/tempusdominus/js/moment-timezone.min.js"></script>
<script src="lib/tempusdominus/js/tempusdominus-bootstrap-4.min.js"></script>

<!-- Template Javascript -->
<script src="js/main.js"></script>
<!-- jQuery library -->
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

<!-- DateTimePicker plugin -->
<link rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/jquery-datetimepicker/2.5.20/jquery.datetimepicker.min.css">
<script
        src="https://cdnjs.cloudflare.com/ajax/libs/jquery-datetimepicker/2.5.20/jquery.datetimepicker.full.min.js"></script>


</body>

</html>