<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<body
        th:fragment="menuMeals">

<div class="tab-content">

    <!-- tab-1 -->
    <div id="tab-1" class="tab-pane fade show p-0 active">
         <p> <p> <p>
        <h3 class="ff-secondary text-center text-primary fw-normal mt-1" style="display: block; margin: 40px auto; text-decoration: underline;">Breakfast Meals</h3>
        <p>  <p>   <p>   <p>   <p>
        <div class="row g-4">
            <!--  -->
            <div class="col-lg-6">
                <div class="d-flex align-items-center">
                    <img class="flex-shrink-0 img-fluid rounded" src="img/menu-1.jpg" alt=""
                         style="width: 80px;">
                    <div class="w-100 d-flex flex-column text-start ps-4">
                        <h5 class="d-flex justify-content-between border-bottom pb-2">
                            <span>Pancakes</span>
                            <span class="text-primary price">$8</span>
                        </h5>
                        <small class="fst-italic">Ipsum ipustodiam</small>
                        <div class="input-group ml-3">
                            <button class="btn btn-outline-primary decrease-btn"
                                    type="button">-
                            </button>
                            <input type="number" class="form-control quantity-input" value="0">
                            <button class="btn btn-outline-primary increase-btn"
                                    type="button">+
                            </button>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-lg-6">
                <div class="d-flex align-items-center">
                    <img class="flex-shrink-0 img-fluid rounded" src="img/menu-6.jpg" alt=""
                         style="width: 80px;">
                    <div class="w-100 d-flex flex-column text-start ps-4">
                        <h5 class="d-flex justify-content-between border-bottom pb-2">
                            <span>Baked Eggs</span>
                            <span class="text-primary price">$12</span>
                        </h5>
                        <small class="fst-italic">Ipsum ipsum clita erat amet dolor justo
                            diam</small>
                        <div class="input-group ml-3">
                            <button class="btn btn-outline-primary decrease-btn"
                                    type="button">-
                            </button>
                            <input type="number" class="form-control quantity-input" value="0">
                            <button class="btn btn-outline-primary increase-btn"
                                    type="button">+
                            </button>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-lg-6">
                <div class="d-flex align-items-center">
                    <img class="flex-shrink-0 img-fluid rounded" src="img/menu-7.jpg" alt=""
                         style="width: 80px;">
                    <div class="w-100 d-flex flex-column text-start ps-4">
                        <h5 class="d-flex justify-content-between border-bottom pb-2">
                            <span>Panettone</span>
                            <span class="text-primary price">$12</span>
                        </h5>
                        <small class="fst-italic">Ipsum ipsum clita erat amet dolor justo
                            diam</small>
                        <div class="input-group ml-3">
                            <button class="btn btn-outline-primary decrease-btn"
                                    type="button">-
                            </button>
                            <input type="number" class="form-control quantity-input" value="0">
                            <button class="btn btn-outline-primary increase-btn"
                                    type="button">+
                            </button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="d-flex align-items-center">
                    <img class="flex-shrink-0 img-fluid rounded" src="img/menu-8.jpg" alt=""
                         style="width: 80px;">
                    <div class="w-100 d-flex flex-column text-start ps-4">
                        <h5 class="d-flex justify-content-between border-bottom pb-2">
                            <span>French Toast</span>
                            <span class="text-primary price">$10</span>
                        </h5>
                        <small class="fst-italic">Ipsum ipsum clita erat amet dolor justo
                            diam</small>
                        <div class="input-group ml-3">
                            <button class="btn btn-outline-primary decrease-btn"
                                    type="button">-
                            </button>
                            <input type="number" class="form-control quantity-input" value="0">
                            <button class="btn btn-outline-primary increase-btn"
                                    type="button">+
                            </button>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>

    <!-- tab-2 -->
    <div id="tab-2" class="tab-pane fade show p-0">
        <p> <p> <p>
        <h3 class="ff-secondary text-center text-primary fw-normal mt-1" style="display: block; margin: 0 auto; text-decoration: underline;">Lunch Meals</h3>
        <div class="row g-4">
<div <p>  <p>   <p> </div>
            <div class="col-lg-6">
                <div class="d-flex align-items-center">
                    <img class="flex-shrink-0 img-fluid rounded" src="img/menu-1.jpg" alt=""
                         style="width: 80px;">
                    <div class="w-100 d-flex flex-column text-start ps-4">
                        <h5 class="d-flex justify-content-between border-bottom pb-2">
                            <span>Grilled Chicken</span>
                            <span class="text-primary price">$12</span>
                        </h5>
                        <small class="fst-italic">Ipsum ipustodiam</small>
                        <div class="input-group ml-3">
                            <button class="btn btn-outline-primary decrease-btn"
                                    type="button">-
                            </button>
                            <input type="number" class="form-control quantity-input" value="0">
                            <button class="btn btn-outline-primary increase-btn"
                                    type="button">+
                            </button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="d-flex align-items-center">
                    <img class="flex-shrink-0 img-fluid rounded" src="img/menu-1.jpg" alt=""
                         style="width: 80px;">
                    <div class="w-100 d-flex flex-column text-start ps-4">
                        <h5 class="d-flex justify-content-between border-bottom pb-2">
                            <span>Baked Salmon</span>
                            <span class="text-primary price">$18</span>
                        </h5>
                        <small class="fst-italic">Ipsum ipustodiam</small>
                        <div class="input-group ml-3">
                            <button class="btn btn-outline-primary decrease-btn"
                                    type="button">-
                            </button>
                            <input type="number" class="form-control quantity-input" value="0">
                            <button class="btn btn-outline-primary increase-btn"
                                    type="button">+
                            </button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="d-flex align-items-center">
                    <img class="flex-shrink-0 img-fluid rounded" src="img/menu-1.jpg" alt=""
                         style="width: 80px;">
                    <div class="w-100 d-flex flex-column text-start ps-4">
                        <h5 class="d-flex justify-content-between border-bottom pb-2">
                            <span>Baked Falafel</span>
                            <span class="text-primary price">$14</span>
                        </h5>
                        <small class="fst-italic">Ipsum ipustodiam</small>
                        <div class="input-group ml-3">
                            <button class="btn btn-outline-primary decrease-btn"
                                    type="button">-
                            </button>
                            <input type="number" class="form-control quantity-input" value="0">
                            <button class="btn btn-outline-primary increase-btn"
                                    type="button">+
                            </button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="d-flex align-items-center">
                    <img class="flex-shrink-0 img-fluid rounded" src="img/menu-1.jpg" alt=""
                         style="width: 80px;">
                    <div class="w-100 d-flex flex-column text-start ps-4">
                        <h5 class="d-flex justify-content-between border-bottom pb-2">
                            <span>Shrimp and Avocado</span>
                            <span class="text-primary price">$14</span>
                        </h5>
                        <small class="fst-italic">Ipsum ipustodiam</small>
                        <div class="input-group ml-3">
                            <button class="btn btn-outline-primary decrease-btn"
                                    type="button">-
                            </button>
                            <input type="number" class="form-control quantity-input" value="0">
                            <button class="btn btn-outline-primary increase-btn"
                                    type="button">+
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

     <!-- tab-3 -->
    <div id="tab-3" class="tab-pane fade show p-0">
        <p> <p> <p>
        <h3 class=" ff-secondary text-center text-primary fw-normal mt-1"  style="display: block; margin: 0 auto; text-decoration: underline;">Dinner Meals</h3>
        <div class="row g-4">
        <div <p>  <p>   <p> </div>
            <div class="col-lg-6">
                <div class="d-flex align-items-center">
                    <img class="flex-shrink-0 img-fluid rounded" src="img/menu-1.jpg" alt=""
                         style="width: 80px;">
                    <div class="w-100 d-flex flex-column text-start ps-4">
                        <h5 class="d-flex justify-content-between border-bottom pb-2">
                            <span>Spaghetti Carbonara</span>
                            <span class="text-primary price">$14</span>
                        </h5>
                        <small class="fst-italic">Ipsum ipustodiam</small>
                        <div class="input-group ml-3">
                            <button class="btn btn-outline-primary decrease-btn"
                                    type="button">-
                            </button>
                            <input type="number" class="form-control quantity-input" value="0">
                            <button class="btn btn-outline-primary increase-btn"
                                    type="button">+
                            </button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="d-flex align-items-center">
                    <img class="flex-shrink-0 img-fluid rounded" src="img/menu-1.jpg" alt=""
                         style="width: 80px;">
                    <div class="w-100 d-flex flex-column text-start ps-4">
                        <h5 class="d-flex justify-content-between border-bottom pb-2">
                            <span>Dallas Steak</span>
                            <span class="text-primary price">$15</span>
                        </h5>
                        <small class="fst-italic">Ipsum ipustodiam</small>
                        <div class="input-group ml-3">
                            <button class="btn btn-outline-primary decrease-btn"
                                    type="button">-
                            </button>
                            <input type="number" class="form-control quantity-input" value="0">
                            <button class="btn btn-outline-primary increase-btn"
                                    type="button">+
                            </button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="d-flex align-items-center">
                    <img class="flex-shrink-0 img-fluid rounded" src="img/menu-1.jpg" alt=""
                         style="width: 80px;">
                    <div class="w-100 d-flex flex-column text-start ps-4">
                        <h5 class="d-flex justify-content-between border-bottom pb-2">
                            <span>Ratatouille</span>
                            <span class="text-primary price">$14</span>
                        </h5>
                        <small class="fst-italic">Ipsum ipustodiam</small>
                        <div class="input-group ml-3">
                            <button class="btn btn-outline-primary decrease-btn"
                                    type="button">-
                            </button>
                            <input type="number" class="form-control quantity-input" value="0">
                            <button class="btn btn-outline-primary increase-btn"
                                    type="button">+
                            </button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="d-flex align-items-center">
                    <img class="flex-shrink-0 img-fluid rounded" src="img/menu-1.jpg" alt=""
                         style="width: 80px;">
                    <div class="w-100 d-flex flex-column text-start ps-4">
                        <h5 class="d-flex justify-content-between border-bottom pb-2">
                            <span>Bouillabaisse</span>
                            <span class="text-primary price">$16</span>
                        </h5>
                        <small class="fst-italic">Ipsum ipustodiam</small>
                        <div class="input-group ml-3">
                            <button class="btn btn-outline-primary decrease-btn"
                                    type="button">-
                            </button>
                            <input type="number" class="form-control quantity-input" value="0">
                            <button class="btn btn-outline-primary increase-btn"
                                    type="button">+
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>