<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">


<body th:fragment="menuSalad">
<div>
  <h3 class="ff-secondary text-center text-primary fw-normal mt-5 pt-3" style="display: block; margin: 40px auto; text-decoration: underline;">Salad</h3>
  <p>  <p>   <p>
</div>

<div class="tab-content">
  <!-- tab-1 -->
  <div id="tab-1
" class="tab-pane fade show p-0 active">
    <div class="row g-4">
      <!--  -->
      <div class="col-lg-6">
        <div class="d-flex align-items-center">
          <img class="flex-shrink-0 img-fluid rounded" src="img/menu-001.jpg" alt=""
               style="width: 80px;">
          <div class="w-100 d-flex flex-column text-start ps-4">
            <h5 class="d-flex justify-content-between border-bottom pb-2">
              <span class="cambria">Cobb Salad</span>
              <span class="text-primary price cambria">$12</span>
            </h5>
            <small class="fst-italic cambria">Lettuce, grilled chicken breast, bacon, hard-boiled eggs, avocado, tomatoes</small>
            <div class="input-group ml-3">
              <button class="btn btn-outline-primary decrease-btn"
                      type="button">-
              </button>
              <input type="number" class="form-control quantity-input" value="0" min="0">
              <button class="btn btn-outline-primary increase-btn"
                      type="button">+
              </button>
            </div>
          </div>
        </div>
      </div>

      <div class="col-lg-6">
        <div class="d-flex align-items-center">
          <img class="flex-shrink-0 img-fluid rounded" src="img/menu-002.jpg" alt=""
               style="width: 80px;">
          <div class="w-100 d-flex flex-column text-start ps-4">
            <h5 class="d-flex justify-content-between border-bottom pb-2">
              <span class="cambria">Caesar Salad</span>
              <span class="text-primary price cambria">$10</span>
            </h5>
            <small class="fst-italic cambria">Romaine lettuce, Parmesan cheese, croutons, Caesar dressing</small>
            <div class="input-group ml-3">
              <button class="btn btn-outline-primary decrease-btn"
                      type="button">-
              </button>
              <input type="number" class="form-control quantity-input" value="0" min="0">
              <button class="btn btn-outline-primary increase-btn"
                      type="button">+
              </button>
            </div>
          </div>
        </div>
      </div>

      <div class="col-lg-6">
        <div class="d-flex align-items-center">
          <img class="flex-shrink-0 img-fluid rounded" src="img/menu-003.jpg" alt=""
               style="width: 80px;">
          <div class="w-100 d-flex flex-column text-start ps-4">
            <h5 class="d-flex justify-content-between border-bottom pb-2">
              <span class="cambria">Greek Salad</span>
              <span class="text-primary price cambria">$12</span>
            </h5>
            <small class="fst-italic cambria">Ripe tomatoes, cucumber, red onion, Kalamata olives, feta cheese</small>
            <div class="input-group ml-3">
              <button class="btn btn-outline-primary decrease-btn"
                      type="button">-
              </button>
              <input type="number" class="form-control quantity-input" value="0" min="0">
              <button class="btn btn-outline-primary increase-btn"
                      type="button">+
              </button>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-6">
        <div class="d-flex align-items-center">
          <img class="flex-shrink-0 img-fluid rounded" src="img/menu-004.jpg" alt=""
               style="width: 80px;">
          <div class="w-100 d-flex flex-column text-start ps-4">
            <h5 class="d-flex justify-content-between border-bottom pb-2">
              <span class="cambria">Caprese Salad</span>
              <span class="text-primary price cambria">$10</span>
            </h5>
            <small class="fst-italic cambria">Fresh mozzarella cheese, ripe tomatoes, fresh basil leaves</small>
            <div class="input-group ml-3">
              <button class="btn btn-outline-primary decrease-btn"
                      type="button">-
              </button>
              <input type="number" class="form-control quantity-input" value="0" min="0">
              <button class="btn btn-outline-primary increase-btn"
                      type="button">+
              </button>
            </div>
          </div>
        </div>
      </div>

    </div>
  </div>

  <!-- tab-2 -->
  <div id="tab-2" class="tab-pane fade show p-0">
    <div class="row g-4">

      <div class="col-lg-6">
        <div class="d-flex align-items-center">
          <img class="flex-shrink-0 img-fluid rounded" src="img/menu-001.jpg" alt=""
               style="width: 80px;">
          <div class="w-100 d-flex flex-column text-start ps-4">
            <h5 class="d-flex justify-content-between border-bottom pb-2">
              <span class="cambria">Cobb Salad</span>
              <span class="text-primary price cambria">$12</span>
            </h5>
            <small class="fst-italic cambria">Lettuce, grilled chicken breast, bacon, hard-boiled eggs, avocado, tomatoes</small>
            <div class="input-group ml-3">
              <button class="btn btn-outline-primary decrease-btn"
                      type="button">-
              </button>
              <input type="number" class="form-control quantity-input" value="0" min="0">
              <button class="btn btn-outline-primary increase-btn"
                      type="button">+
              </button>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-6">
        <div class="d-flex align-items-center">
          <img class="flex-shrink-0 img-fluid rounded" src="img/menu-002.jpg" alt=""
               style="width: 80px;">
          <div class="w-100 d-flex flex-column text-start ps-4">
            <h5 class="d-flex justify-content-between border-bottom pb-2">
              <span class="cambria">Caesar Salad</span>
              <span class="text-primary price cambria">$10</span>
            </h5>
            <small class="fst-italic cambria">Romaine lettuce, Parmesan cheese, croutons, Caesar dressing</small>
            <div class="input-group ml-3">
              <button class="btn btn-outline-primary decrease-btn"
                      type="button">-
              </button>
              <input type="number" class="form-control quantity-input" value="0" min="0">
              <button class="btn btn-outline-primary increase-btn"
                      type="button">+
              </button>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-6">
        <div class="d-flex align-items-center">
          <img class="flex-shrink-0 img-fluid rounded" src="img/menu-003.jpg" alt=""
               style="width: 80px;">
          <div class="w-100 d-flex flex-column text-start ps-4">
            <h5 class="d-flex justify-content-between border-bottom pb-2">
              <span class="cambria">Greek Salad</span>
              <span class="text-primary price cambria">$12</span>
            </h5>
            <small class="fst-italic cambria">Ripe tomatoes, cucumber, red onion, Kalamata olives, feta cheese</small>
            <div class="input-group ml-3">
              <button class="btn btn-outline-primary decrease-btn"
                      type="button">-
              </button>
              <input type="number" class="form-control quantity-input" value="0" min="0">
              <button class="btn btn-outline-primary increase-btn"
                      type="button">+
              </button>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-6">
        <div class="d-flex align-items-center">
          <img class="flex-shrink-0 img-fluid rounded" src="img/menu-004.jpg" alt=""
               style="width: 80px;">
          <div class="w-100 d-flex flex-column text-start ps-4">
            <h5 class="d-flex justify-content-between border-bottom pb-2">
              <span class="cambria">Caprese Salad</span>
              <span class="text-primary price cambria">$10</span>
            </h5>
            <small class="fst-italic cambria">Fresh mozzarella cheese, ripe tomatoes, fresh basil leaves</small>
            <div class="input-group ml-3">
              <button class="btn btn-outline-primary decrease-btn"
                      type="button">-
              </button>
              <input type="number" class="form-control quantity-input" value="0" min="0">
              <button class="btn btn-outline-primary increase-btn"
                      type="button">+
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- tab-3 -->
  <div id="tab-3" class="tab-pane fade show p-0">
    <div class="row g-4">

      <div class="col-lg-6">
        <div class="d-flex align-items-center">
          <img class="flex-shrink-0 img-fluid rounded" src="img/menu-001.jpg" alt=""
               style="width: 80px;">
          <div class="w-100 d-flex flex-column text-start ps-4">
            <h5 class="d-flex justify-content-between border-bottom pb-2">
              <span>Cobb Salad</span>
              <span class="text-primary price">$12</span>
            </h5>
            <small class="fst-italic">Ipsum ipustodiam</small>
            <div class="input-group ml-3">
              <button class="btn btn-outline-primary decrease-btn"
                      type="button">-
              </button>
              <input type="number" class="form-control quantity-input" value="0" min="0">
              <button class="btn btn-outline-primary increase-btn"
                      type="button">+
              </button>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-6">
        <div class="d-flex align-items-center">
          <img class="flex-shrink-0 img-fluid rounded" src="img/menu-002.jpg" alt=""
               style="width: 80px;">
          <div class="w-100 d-flex flex-column text-start ps-4">
            <h5 class="d-flex justify-content-between border-bottom pb-2">
              <span class="cambria">Caesar Salad</span>
              <span class="text-primary price cambria">$10</span>
            </h5>
            <small class="fst-italic cambria">Romaine lettuce, Parmesan cheese, croutons, Caesar dressing</small>
            <div class="input-group ml-3">
              <button class="btn btn-outline-primary decrease-btn"
                      type="button">-
              </button>
              <input type="number" class="form-control quantity-input" value="0" min="0">
              <button class="btn btn-outline-primary increase-btn"
                      type="button">+
              </button>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-6">
        <div class="d-flex align-items-center">
          <img class="flex-shrink-0 img-fluid rounded" src="img/menu-003.jpg" alt=""
               style="width: 80px;">
          <div class="w-100 d-flex flex-column text-start ps-4">
            <h5 class="d-flex justify-content-between border-bottom pb-2">
              <span>Greek Salad</span>
              <span class="text-primary price">$12</span>
            </h5>
            <small class="fst-italic">Ipsum ipustodiam</small>
            <div class="input-group ml-3">
              <button class="btn btn-outline-primary decrease-btn"
                      type="button">-
              </button>
              <input type="number" class="form-control quantity-input" value="0" min="0">
              <button class="btn btn-outline-primary increase-btn"
                      type="button">+
              </button>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-6">
        <div class="d-flex align-items-center">
          <img class="flex-shrink-0 img-fluid rounded" src="img/menu-004.jpg" alt=""
               style="width: 80px;">
          <div class="w-100 d-flex flex-column text-start ps-4">
            <h5 class="d-flex justify-content-between border-bottom pb-2">
              <span>Caprese Salad</span>
              <span class="text-primary price">$10</span>
            </h5>
            <small class="fst-italic">Ipsum ipustodiam</small>
            <div class="input-group ml-3">
              <button class="btn btn-outline-primary decrease-btn"
                      type="button">-
              </button>
              <input type="number" class="form-control quantity-input" value="0" min="0">
              <button class="btn btn-outline-primary increase-btn"
                      type="button">+
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
</body>
</html>