<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<body
        th:fragment="menuMeals">

<div class="tab-content">

    <!-- tab-1 -->
    <div id="tab-1" class="tab-pane fade show p-0 active">
         <p> <p> <p>
        <h3 class="ff-secondary text-center text-primary fw-normal mt-1" style="display: block; margin: 40px auto; text-decoration: underline;">Breakfast Meals</h3>
        <p>  <p>   <p>   <p>   <p>
        <div class="row g-4">
            <!--  -->
            <div class="col-lg-6">
                <div class="d-flex align-items-center">
                    <img class="flex-shrink-0 img-fluid rounded" src="img/menu-01.jpg" alt=""
                         style="width: 80px;">
                    <div class="w-100 d-flex flex-column text-start ps-4">
                        <h5 class="d-flex justify-content-between border-bottom pb-2">
                            <span class="cambria">Pancakes</span>
                            <span class="text-primary price cambria">$8</span>
                        </h5>
                        <small class="fst-italic cabria">All-purpose flour, milk, eggs, vanilla extract</small>
                        <div class="input-group ml-3">
                            <button class="btn btn-outline-primary decrease-btn"
                                    type="button">-
                            </button>
                            <input type="number" class="form-control quantity-input" value="0">
                            <button class="btn btn-outline-primary increase-btn"
                                    type="button">+
                            </button>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-lg-6">
                <div class="d-flex align-items-center">
                    <img class="flex-shrink-0 img-fluid rounded" src="img/menu-02.jpg" alt=""
                         style="width: 80px;">
                    <div class="w-100 d-flex flex-column text-start ps-4">
                        <h5 class="d-flex justify-content-between border-bottom pb-2">
                            <span class="cambria">Baked Eggs</span>
                            <span class="text-primary price cambria">$12</span>
                        </h5>
                        <small class="fst-italic">Eggs, cheese, spinach, tomatoes, salt, pepper</small>
                        <div class="input-group ml-3">
                            <button class="btn btn-outline-primary decrease-btn"
                                    type="button">-
                            </button>
                            <input type="number" class="form-control quantity-input" value="0">
                            <button class="btn btn-outline-primary increase-btn"
                                    type="button">+
                            </button>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-lg-6">
                <div class="d-flex align-items-center">
                    <img class="flex-shrink-0 img-fluid rounded" src="img/menu-03.jpg" alt=""
                         style="width: 80px;">
                    <div class="w-100 d-flex flex-column text-start ps-4">
                        <h5 class="d-flex justify-content-between border-bottom pb-2">
                            <span class="cambria">Panettone</span>
                            <span class="text-primary price cambria">$12</span>
                        </h5>
                        <small class="fst-italic cambria">Flour,sugar,butter,eggs,yeast,dried fruits,nuts,vanilla extract,salt,lemon zest</small>
                        <div class="input-group ml-3">
                            <button class="btn btn-outline-primary decrease-btn"
                                    type="button">-
                            </button>
                            <input type="number" class="form-control quantity-input" value="0">
                            <button class="btn btn-outline-primary increase-btn"
                                    type="button">+
                            </button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="d-flex align-items-center">
                    <img class="flex-shrink-0 img-fluid rounded" src="img/menu-04.jpg" alt=""
                         style="width: 80px;">
                    <div class="w-100 d-flex flex-column text-start ps-4">
                        <h5 class="d-flex justify-content-between border-bottom pb-2">
                            <span class="cambria">French Toast</span>
                            <span class="text-primary price cambria">$10</span>
                        </h5>
                        <small class="fst-italic cambria">Bread, eggs, milk, vanilla extract, cinnamon, butter, syrup (optional)</small>
                        <div class="input-group ml-3">
                            <button class="btn btn-outline-primary decrease-btn"
                                    type="button">-
                            </button>
                            <input type="number" class="form-control quantity-input" value="0">
                            <button class="btn btn-outline-primary increase-btn"
                                    type="button">+
                            </button>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>

    <!-- tab-2 -->
    <div id="tab-2" class="tab-pane fade show p-0">
        <p> <p> <p>
        <h3 class="ff-secondary text-center text-primary fw-normal mt-1" style="display: block; margin: 0 auto; text-decoration: underline;">Lunch Meals</h3>
        <div class="row g-4">
<div <p>  <p>   <p> </div>
            <div class="col-lg-6">
                <div class="d-flex align-items-center">
                    <img class="flex-shrink-0 img-fluid rounded" src="img/menu-41.jpg" alt=""
                         style="width: 80px;">
                    <div class="w-100 d-flex flex-column text-start ps-4">
                        <h5 class="d-flex justify-content-between border-bottom pb-2">
                            <span class="cambria">Grilled Chicken</span>
                            <span class="text-primary price cambria">$12</span>
                        </h5>
                        <small class="fst-italic cambria">Chicken breasts, olive oil, lemon juice, garlic, salt, black pepper</small>
                        <div class="input-group ml-3">
                            <button class="btn btn-outline-primary decrease-btn"
                                    type="button">-
                            </button>
                            <input type="number" class="form-control quantity-input" value="0">
                            <button class="btn btn-outline-primary increase-btn"
                                    type="button">+
                            </button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="d-flex align-items-center">
                    <img class="flex-shrink-0 img-fluid rounded" src="img/menu-42.jpg" alt=""
                         style="width: 80px;">
                    <div class="w-100 d-flex flex-column text-start ps-4">
                        <h5 class="d-flex justify-content-between border-bottom pb-2">
                            <span class="cambria">Baked Salmon</span>
                            <span class="text-primary price cambria">$18</span>
                        </h5>
                        <small class="fst-italic cambria">Salmon fillets, olive oil, lemon juice, garlic, salt, black pepper, fresh dill</small>
                        <div class="input-group ml-3">
                            <button class="btn btn-outline-primary decrease-btn"
                                    type="button">-
                            </button>
                            <input type="number" class="form-control quantity-input" value="0">
                            <button class="btn btn-outline-primary increase-btn"
                                    type="button">+
                            </button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="d-flex align-items-center">
                    <img class="flex-shrink-0 img-fluid rounded" src="img/menu-43.jpg" alt=""
                         style="width: 80px;">
                    <div class="w-100 d-flex flex-column text-start ps-4">
                        <h5 class="d-flex justify-content-between border-bottom pb-2">
                            <span class="cambria">Baked Falafel</span>
                            <span class="text-primary price cambria">$14</span>
                        </h5>
                        <small class="fst-italic cambria">Chickpeas, onion, garlic, fresh parsley, fresh cilantro, ground cumin</small>
                        <div class="input-group ml-3">
                            <button class="btn btn-outline-primary decrease-btn"
                                    type="button">-
                            </button>
                            <input type="number" class="form-control quantity-input" value="0">
                            <button class="btn btn-outline-primary increase-btn"
                                    type="button">+
                            </button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="d-flex align-items-center">
                    <img class="flex-shrink-0 img-fluid rounded" src="img/menu-44.jpg" alt=""
                         style="width: 80px;">
                    <div class="w-100 d-flex flex-column text-start ps-4">
                        <h5 class="d-flex justify-content-between border-bottom pb-2">
                            <span class="cambria">Shrimp and Avocado</span>
                            <span class="text-primary price cambria">$14</span>
                        </h5>
                        <small class="fst-italic cambria">Shrimp, avocado, lime juice, cilantro, red onion, cherry tomatoes, garlic</small>
                        <div class="input-group ml-3">
                            <button class="btn btn-outline-primary decrease-btn"
                                    type="button">-
                            </button>
                            <input type="number" class="form-control quantity-input" value="0">
                            <button class="btn btn-outline-primary increase-btn"
                                    type="button">+
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

     <!-- tab-3 -->
    <div id="tab-3" class="tab-pane fade show p-0">
        <p> <p> <p>
        <h3 class=" ff-secondary text-center text-primary fw-normal mt-1"  style="display: block; margin: 0 auto; text-decoration: underline;">Dinner Meals</h3>
        <div class="row g-4">
        <div <p>  <p>   <p> </div>
            <div class="col-lg-6">
                <div class="d-flex align-items-center">
                    <img class="flex-shrink-0 img-fluid rounded" src="img/menu-51.jpg" alt=""
                         style="width: 80px;">
                    <div class="w-100 d-flex flex-column text-start ps-4">
                        <h5 class="d-flex justify-content-between border-bottom pb-2">
                            <span class="cambria">Spaghetti Carbonara</span>
                            <span class="text-primary price cambria">$14</span>
                        </h5>
                        <small class="fst-italic cambria">Spaghetti, bacon, eggs, Parmesan cheese, black pepper, salt, garlic, olive oil</small>
                        <div class="input-group ml-3">
                            <button class="btn btn-outline-primary decrease-btn"
                                    type="button">-
                            </button>
                            <input type="number" class="form-control quantity-input" value="0">
                            <button class="btn btn-outline-primary increase-btn"
                                    type="button">+
                            </button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="d-flex align-items-center">
                    <img class="flex-shrink-0 img-fluid rounded" src="img/menu-52.jpg" alt=""
                         style="width: 80px;">
                    <div class="w-100 d-flex flex-column text-start ps-4">
                        <h5 class="d-flex justify-content-between border-bottom pb-2">
                            <span class="cambria">Dallas Steak</span>
                            <span class="text-primary price cambria">$15</span>
                        </h5>
                        <small class="fst-italic cambria">steak, salt, black pepper, garlic powder, onion powder,</small>
                        <div class="input-group ml-3">
                            <button class="btn btn-outline-primary decrease-btn"
                                    type="button">-
                            </button>
                            <input type="number" class="form-control quantity-input" value="0">
                            <button class="btn btn-outline-primary increase-btn"
                                    type="button">+
                            </button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="d-flex align-items-center">
                    <img class="flex-shrink-0 img-fluid rounded" src="img/menu-53.jpg" alt=""
                         style="width: 80px;">
                    <div class="w-100 d-flex flex-column text-start ps-4">
                        <h5 class="d-flex justify-content-between border-bottom pb-2">
                            <span class="cambria">Ratatouille</span>
                            <span class="text-primary price cambria">$14</span>
                        </h5>
                        <small class="fst-italic cambria">Eggplant, zucchini, bell peppers, tomatoes, onions, garlic, olive oil</small>
                        <div class="input-group ml-3">
                            <button class="btn btn-outline-primary decrease-btn"
                                    type="button">-
                            </button>
                            <input type="number" class="form-control quantity-input" value="0">
                            <button class="btn btn-outline-primary increase-btn"
                                    type="button">+
                            </button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="d-flex align-items-center">
                    <img class="flex-shrink-0 img-fluid rounded" src="img/menu-54.jpg" alt=""
                         style="width: 80px;">
                    <div class="w-100 d-flex flex-column text-start ps-4">
                        <h5 class="d-flex justify-content-between border-bottom pb-2">
                            <span class="cambria">Bouillabaisse</span>
                            <span class="text-primary price cambria">$16</span>
                        </h5>
                        <small class="fst-italic cambria">Fish, shellfish, onions, garlic, tomatoes, fennel, saffron, orange zest, olive oil</small>
                        <div class="input-group ml-3">
                            <button class="btn btn-outline-primary decrease-btn"
                                    type="button">-
                            </button>
                            <input type="number" class="form-control quantity-input" value="0">
                            <button class="btn btn-outline-primary increase-btn"
                                    type="button">+
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>