<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">


<body th:fragment="menuDesert">
<div>
  <h3 class="ff-secondary text-center text-primary fw-normal mt-5 pt-3" style="display: block; margin: 40px auto; text-decoration: underline;">Dessert</h3>
  <p>  <p>   <p>
</div>

<div class="tab-content">
  <!-- tab-1 -->
  <div id="tab-1
" class="tab-pane fade show p-0 active">
    <div class="row g-4">
      <!--  -->
      <div class="col-lg-6">
        <div class="d-flex align-items-center">
          <img class="flex-shrink-0 img-fluid rounded" src="img/menu-31.jpg" alt=""
               style="width: 80px;">
          <div class="w-100 d-flex flex-column text-start ps-4">
            <h5 class="d-flex justify-content-between border-bottom pb-2">
              <span class="cambria">Chocolate Cake</span>
              <span class="text-primary price cambria">$8</span>
            </h5>
            <small class="fst-italic cambria">Flour, sugar, cocoa powder, baking powder, baking soda, salt, eggs, milk</small>
            <div class="input-group ml-3">
              <button class="btn btn-outline-primary decrease-btn"
                      type="button">-
              </button>
              <input type="number" class="form-control quantity-input" value="0" min="0">
              <button class="btn btn-outline-primary increase-btn"
                      type="button">+
              </button>
            </div>
          </div>
        </div>
      </div>

      <div class="col-lg-6">
        <div class="d-flex align-items-center">
          <img class="flex-shrink-0 img-fluid rounded" src="img/menu-33.jpg" alt=""
               style="width: 80px;">
          <div class="w-100 d-flex flex-column text-start ps-4">
            <h5 class="d-flex justify-content-between border-bottom pb-2">
              <span class="cambria">Apple Pie</span>
              <span class="text-primary price cambria">$6</span>
            </h5>
            <small class="fst-italic cambria">Pie crust, apples, sugar, flour, cinnamon, nutmeg, lemon juice, butter, egg</small>
            <div class="input-group ml-3">
              <button class="btn btn-outline-primary decrease-btn"
                      type="button">-
              </button>
              <input type="number" class="form-control quantity-input" value="0" min="0">
              <button class="btn btn-outline-primary increase-btn"
                      type="button">+
              </button>
            </div>
          </div>
        </div>
      </div>

      <div class="col-lg-6">
        <div class="d-flex align-items-center">
          <img class="flex-shrink-0 img-fluid rounded" src="img/menu-18.jpg" alt=""
               style="width: 80px;">
          <div class="w-100 d-flex flex-column text-start ps-4">
            <h5 class="d-flex justify-content-between border-bottom pb-2">
              <span class="cambria">Crème Brûlée</span>
              <span class="text-primary price cambria">$8</span>
            </h5>
            <small class="fst-italic cambria">Egg yolks, sugar, vanilla extract, heavy cream, granulated sugar</small>
            <div class="input-group ml-3">
              <button class="btn btn-outline-primary decrease-btn"
                      type="button">-
              </button>
              <input type="number" class="form-control quantity-input" value="0" min="0">
              <button class="btn btn-outline-primary increase-btn"
                      type="button">+
              </button>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-6">
        <div class="d-flex align-items-center">
          <img class="flex-shrink-0 img-fluid rounded" src="img/menu-19.jpg" alt=""
               style="width: 80px;">
          <div class="w-100 d-flex flex-column text-start ps-4">
            <h5 class="d-flex justify-content-between border-bottom pb-2">
              <span class="cambria">Panna Cotta</span>
              <span class="text-primary price cambria">$10</span>
            </h5>
            <small class="fst-italic cambria">Heavy cream, sugar, gelatin, vanilla extract</small>
            <div class="input-group ml-3">
              <button class="btn btn-outline-primary decrease-btn"
                      type="button">-
              </button>
              <input type="number" class="form-control quantity-input" value="0" min="0">
              <button class="btn btn-outline-primary increase-btn"
                      type="button">+
              </button>
            </div>
          </div>
        </div>
      </div>

    </div>
  </div>

  <!-- tab-2 -->
  <div id="tab-2" class="tab-pane fade show p-0">
    <div class="row g-4">

      <div class="col-lg-6">
        <div class="d-flex align-items-center">
          <img class="flex-shrink-0 img-fluid rounded" src="img/menu-31.jpg" alt=""
               style="width: 80px;">
          <div class="w-100 d-flex flex-column text-start ps-4">
            <h5 class="d-flex justify-content-between border-bottom pb-2">
              <span class="cambria">Chocolate Cake</span>
              <span class="text-primary price cambria">$8</span>
            </h5>
            <small class="fst-italic cambria">Flour, sugar, cocoa powder, baking powder, baking soda, salt, eggs, milk</small>
            <div class="input-group ml-3">
              <button class="btn btn-outline-primary decrease-btn"
                      type="button">-
              </button>
              <input type="number" class="form-control quantity-input" value="0" min="0">
              <button class="btn btn-outline-primary increase-btn"
                      type="button">+
              </button>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-6">
        <div class="d-flex align-items-center">
          <img class="flex-shrink-0 img-fluid rounded" src="img/menu-33.jpg" alt=""
               style="width: 80px;">
          <div class="w-100 d-flex flex-column text-start ps-4">
            <h5 class="d-flex justify-content-between border-bottom pb-2">
              <span class="cambria">Apple Pie</span>
              <span class="text-primary price cambria">$6</span>
            </h5>
            <small class="fst-italic cambria">Pie crust, apples, sugar, flour, cinnamon, nutmeg, lemon juice, butter, egg</small>
            <div class="input-group ml-3">
              <button class="btn btn-outline-primary decrease-btn"
                      type="button">-
              </button>
              <input type="number" class="form-control quantity-input" value="0" min="0">
              <button class="btn btn-outline-primary increase-btn"
                      type="button">+
              </button>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-6">
        <div class="d-flex align-items-center">
          <img class="flex-shrink-0 img-fluid rounded" src="img/menu-18.jpg" alt=""
               style="width: 80px;">
          <div class="w-100 d-flex flex-column text-start ps-4">
            <h5 class="d-flex justify-content-between border-bottom pb-2">
              <span class="cambria">Crème Brûlée</span>
              <span class="text-primary price cambria">$8</span>
            </h5>
            <small class="fst-italic cambria">Egg yolks, sugar, vanilla extract, heavy cream, granulated sugar</small>
            <div class="input-group ml-3">
              <button class="btn btn-outline-primary decrease-btn"
                      type="button">-
              </button>
              <input type="number" class="form-control quantity-input" value="0" min="0">
              <button class="btn btn-outline-primary increase-btn"
                      type="button">+
              </button>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-6">
        <div class="d-flex align-items-center">
          <img class="flex-shrink-0 img-fluid rounded" src="img/menu-19.jpg" alt=""
               style="width: 80px;">
          <div class="w-100 d-flex flex-column text-start ps-4">
            <h5 class="d-flex justify-content-between border-bottom pb-2">
              <span class="cambria">Panna Cotta</span>
              <span class="text-primary price cambria">$10</span>
            </h5>
            <small class="fst-italic cambria">Heavy cream, sugar, gelatin, vanilla extract</small>
            <div class="input-group ml-3">
              <button class="btn btn-outline-primary decrease-btn"
                      type="button">-
              </button>
              <input type="number" class="form-control quantity-input" value="0" min="0">
              <button class="btn btn-outline-primary increase-btn"
                      type="button">+
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- tab-3 -->
  <div id="tab-3" class="tab-pane fade show p-0">
    <div class="row g-4">

      <div class="col-lg-6">
        <div class="d-flex align-items-center">
          <img class="flex-shrink-0 img-fluid rounded" src="img/menu-31.jpg" alt=""
               style="width: 80px;">
          <div class="w-100 d-flex flex-column text-start ps-4">
            <h5 class="d-flex justify-content-between border-bottom pb-2">
              <span class="cambria">Chocolate Cake</span>
              <span class="text-primary price cambria">$8</span>
            </h5>
            <small class="fst-italic cambria">Flour, sugar, cocoa powder, baking powder, baking soda, salt, eggs, milk</small>
            <div class="input-group ml-3">
              <button class="btn btn-outline-primary decrease-btn"
                      type="button">-
              </button>
              <input type="number" class="form-control quantity-input" value="0" min="0">
              <button class="btn btn-outline-primary increase-btn"
                      type="button">+
              </button>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-6">
        <div class="d-flex align-items-center">
          <img class="flex-shrink-0 img-fluid rounded" src="img/menu-33.jpg" alt=""
               style="width: 80px;">
          <div class="w-100 d-flex flex-column text-start ps-4">
            <h5 class="d-flex justify-content-between border-bottom pb-2">
              <span class="cambria">Apple Pie</span>
              <span class="text-primary price cambria">$6</span>
            </h5>
            <small class="fst-italic cambria">Pie crust, apples, sugar, flour, cinnamon, nutmeg, lemon juice, butter, egg</small>
            <div class="input-group ml-3">
              <button class="btn btn-outline-primary decrease-btn"
                      type="button">-
              </button>
              <input type="number" class="form-control quantity-input" value="0" min="0">
              <button class="btn btn-outline-primary increase-btn"
                      type="button">+
              </button>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-6">
        <div class="d-flex align-items-center">
          <img class="flex-shrink-0 img-fluid rounded" src="img/menu-18.jpg" alt=""
               style="width: 80px;">
          <div class="w-100 d-flex flex-column text-start ps-4">
            <h5 class="d-flex justify-content-between border-bottom pb-2">
              <span class="cambria">Crème Brûlée</span>
              <span class="text-primary price cambria">$8</span>
            </h5>
            <small class="fst-italic cambria">Egg yolks, sugar, vanilla extract, heavy cream, granulated sugar</small>
            <div class="input-group ml-3">
              <button class="btn btn-outline-primary decrease-btn"
                      type="button">-
              </button>
              <input type="number" class="form-control quantity-input" value="0" min="0">
              <button class="btn btn-outline-primary increase-btn"
                      type="button">+
              </button>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-6">
        <div class="d-flex align-items-center">
          <img class="flex-shrink-0 img-fluid rounded" src="img/menu-19.jpg" alt=""
               style="width: 80px;">
          <div class="w-100 d-flex flex-column text-start ps-4">
            <h5 class="d-flex justify-content-between border-bottom pb-2">
              <span class="cambria">Panna Cotta</span>
              <span class="text-primary price cambria">$10</span>
            </h5>
            <small class="fst-italic cambria">Heavy cream, sugar, gelatin, vanilla extract</small>
            <div class="input-group ml-3">
              <button class="btn btn-outline-primary decrease-btn"
                      type="button">-
              </button>
              <input type="number" class="form-control quantity-input" value="0" min="0">
              <button class="btn btn-outline-primary increase-btn"
                      type="button">+
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

</div>

</body>
</html>