<!DOCTYPE html>
<html lang="nl" class="no-js js-analytics u-full-height">
<head>
    <meta charset="utf-8">
    <link href="//mediabank.valkenhorst.nl" rel="preconnect"/>
    <link href="//www.googletagmanager.com" rel="preconnect"/>
    <link href="//www.google-analytics.com" rel="preconnect"/>
    <link href="//connect.facebook.com" rel="preconnect"/>
    <link href="//cdn.feedbackify.com" rel="dns-prefetch"/>
    <link href="//maps.googleapis.com" rel="dns-prefetch"/>
    <title>Check account - Hotel Den Haag - Nootdorp</title>
    <meta name="description" content=""/>
    <meta name="keywords" content=""/>
    <meta property="og:title" content="Check account - Hotel Den Haag - Nootdorp"/>
    <meta property="og:description" content=""/>
    <meta property="og:site_name" content="Hotel Den Haag - Nootdorp"/>
    <meta property="og:url" content="https://www.hoteldenhaag.nl/restaurant-boeken/check-account/"/>
    <link rel="apple-touch-icon" sizes="57x57"
          href="//mediabank.valkenhorst.nl/dist/img/icons/valkexclusiefbranding/apple-icon-57x57.png"/>
    <link rel="apple-touch-icon" sizes="60x60"
          href="//mediabank.valkenhorst.nl/dist/img/icons/valkexclusiefbranding/apple-icon-60x60.png"/>
    <link rel="apple-touch-icon" sizes="72x72"
          href="//mediabank.valkenhorst.nl/dist/img/icons/valkexclusiefbranding/apple-icon-72x72.png"/>
    <link rel="apple-touch-icon" sizes="76x76"
          href="//mediabank.valkenhorst.nl/dist/img/icons/valkexclusiefbranding/apple-icon-76x76.png"/>
    <link rel="apple-touch-icon" sizes="114x114"
          href="//mediabank.valkenhorst.nl/dist/img/icons/valkexclusiefbranding/apple-icon-114x114.png"/>
    <link rel="apple-touch-icon" sizes="120x120"
          href="//mediabank.valkenhorst.nl/dist/img/icons/valkexclusiefbranding/apple-icon-120x120.png"/>
    <link rel="apple-touch-icon" sizes="144x144"
          href="//mediabank.valkenhorst.nl/dist/img/icons/valkexclusiefbranding/apple-icon-144x144.png"/>
    <link rel="apple-touch-icon" sizes="152x152"
          href="//mediabank.valkenhorst.nl/dist/img/icons/valkexclusiefbranding/apple-icon-152x152.png"/>
    <link rel="apple-touch-icon" sizes="180x180"
          href="//mediabank.valkenhorst.nl/dist/img/icons/valkexclusiefbranding/apple-icon-180x180.png"/>
    <link rel="icon" type="image/png" sizes="192x192"
          href="//mediabank.valkenhorst.nl/dist/img/icons/valkexclusiefbranding/android-icon-192x192.png"/>
    <link rel="icon" type="image/png" sizes="32x32"
          href="//mediabank.valkenhorst.nl/dist/img/icons/valkexclusiefbranding/favicon-32x32.png?v=1"/>
    <link rel="icon" type="image/png" sizes="96x96"
          href="//mediabank.valkenhorst.nl/dist/img/icons/valkexclusiefbranding/favicon-96x96.png?v=1"/>
    <link rel="icon" type="image/png" sizes="16x16"
          href="//mediabank.valkenhorst.nl/dist/img/icons/valkexclusiefbranding/favicon-16x16.png?v=1"/>
    <link rel="shortcut icon" type="image/x-icon"
          href="//mediabank.valkenhorst.nl/dist/img/icons/valkexclusiefbranding/favicon.ico?v=1"/>
    <meta name="viewport"
          content="width=device-width, minimum-scale=1.0, maximum-scale = 1, initial-scale=1, shrink-to-fit=no"/>
    <meta name="apple-itunes-app" content="app-id=435109159"/>
    <link href="https://www.hoteldenhaag.nl/restaurant-boeken/check-account/" rel="canonical"/>
    <script>
         let pageLoadDatalayerEvents = JSON.parse('[{"cookieConsent":{"marketing":false,"necessary":true,"statistics":true},"cookieOptionsShown":false,"cookiesAccepted":false,"ecommerce":{"ClientId":null,"currencyCode":null},"eventValue":0,"skipRegularPageTrack":false},{"cookieConsent":{"marketing":false,"necessary":true,"statistics":true},"cookieOptionsShown":false,"cookiesAccepted":false,"ecommerce":{"checkout":{"actionField":{"option":"CheckEmail","step":1},"products":[{"dimension7":"2023-06-10","brand":"HDN","category":"Restaurant/Activities","id":"4462","name":"Diner","dimension6":0,"price":0.0000,"quantity":1,"dimension5":"2 adults;"}]},"ClientId":"1120059319.1682415123","currencyCode":"EUR"},"eventValue":0,"skipRegularPageTrack":false}]'); window.dataLayer = window.dataLayer || []; window.dataLayer.push(...pageLoadDatalayerEvents);
    </script>
    <script>
         (function(w, d, s, l, i) { w[l] = w[l] || []; w[l].push({ 'gtm.start': new Date().getTime(), event: 'gtm.js' }); var f = d.getElementsByTagName(s)[0], j = d.createElement(s), dl = l != 'dataLayer' ? '&l=' + l : ''; j.async = true; j.src = 'https://www.googletagmanager.com/gtm.js?id=' + i + dl; f.parentNode.insertBefore(j, f); })(window, document, 'script', 'dataLayer', 'GTM-PC692RP');
    </script>
    <script type="json/options">
         {"bust":"1686000104000","facebook-login":{"active":true,"app-id":"380574022379187","loginFailedMessage":"Het inloggen met Facebook is niet gelukt.","loginFailedTitle":"Aanmelden mislukt","login-url":"https://www.hoteldenhaag.nl/restaurant-boeken/check-account/","return-url":"https://www.hoteldenhaag.nl/restaurant-boeken/check-account/"},"feedbackify":{"id":"3807"},"google-maps-api-key":"AIzaSyALkTQzFUALuxNHBQLuIFHlslWQ599ThNM","static-domain-url":"//mediabank.valkenhorst.nl"}
    </script>
    <script type="json/options">
         { "datepicker": { "month-names": [ "januari", "februari", "maart", "april", "mei", "juni", "juli", "augustus", "september", "oktober", "november", "december" ], "month-short-names": [ "jan", "feb", "mrt", "apr", "mei", "jun", "jul", "aug", "sep", "okt", "nov", "dec" ], "day-names": [ "zondag", "maandag", "dinsdag", "woensdag", "donderdag", "vrijdag", "zaterdag" ], "day-short-names": [ "zo", "ma", "di", "wo", "do", "vr", "za" ] } }
    </script>
    <script id="switchConfig" type="json/configuration">
         { "properties" : [ { "property": "textContent", "values": ["Inactief", "Actief"] } ]}
    </script>
    <link href="//mediabank.valkenhorst.nl/dist/css/styles-wave-gold-dark.min.f08971ab80ff4d00997dd4fcf5426b06.css"
          rel="stylesheet"/>
</head>
<body class="brand-is-tucan u-full-height">
<div id="topHome"></div>
<noscript>
    <iframe src="https://www.googletagmanager.com/ns.html?id=GTM-PC692RP" height="0" width="0"
            style="display: none; visibility: hidden"></iframe>
</noscript>
<div class="js-cookie-consent" data-cookie-consent-version="2">
    <script id="ps-cookie-config" type="json/configuration">
         { "properties": [ { "property": "textContent", "values" : ["Toon details", "Verbergen"] }, { "property": "className", "values": ["c-button--icon-chevron-down", "c-button--icon-chevron-up"] } ] }
    </script>
    <div class="js-cookie-consent-msg-container c-cookie-consent u-shadow"></div>
</div>
<section id="site" class="o-site-wrapper">
    <svg height="0" width="0" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
        <clipPath id="waveElementPathHorizontal" clipPathUnits="objectBoundingBox">
            <path d=" M 1 1 V 0.023 c 0 0 -0.109 -0.174 -0.51 0.435 C 0.071 1 0 0.93 0 0.93 V 1 z "></path>
        </clipPath>
        <clipPath id="waveElementPathVertical" clipPathUnits="objectBoundingBox">
            <path d=" M 1 1 L 0.04 1 C 0.04 1 -0.113 0.891 0.42 0.49 C 0.977 0.071 0.834 0.011 0.834 0 L 1 0 L 1 1 z "></path>
        </clipPath>
    </svg>
    <a href="#main" class="o-link-skip">Direct naar de content</a><a href="#footer" class="o-link-skip">Direct naar de
    footer</a>
    <header id="site-header" class="c-site-header c-site-header--hide-distractions js-main-nav">
        <nav role="navigation" class="js-datalayer-events js-account-button"
             data-datalayer-events-options="#metaNavDataLayer">
            <div class="c-site-header__navigation-meta c-navigation-meta">
                <div class="c-navigation-meta__col c-navigation-meta__col--l">
                    <ul class="c-navigation-meta__list" data-sticky="mobile">
                        <li class="ml-"><span
                                class="c-navigation-meta__item u-visually-hidden-until-tablet js-account-button-username">&nbsp;</span>
                        </li>
                    </ul>
                </div>
                <div class="c-navigation-meta__col c-navigation-meta__col--m u-visually-hidden-from-tablet"><a
                        title="Hotel Den Haag - Nootdorp" href="https://www.hoteldenhaag.nl/"
                        class="c-navigation-meta__logo-link c-site-header__navigation-meta-link-large"><img
                        class="c-navigation-meta__logo c-site-header__logo--normal" width="" height="60"
                        src="//mediabank.valkenhorst.nl/dist/img/logos/valk/hotels/den-haag-nootdorp.mobile.svg"
                        alt="Hotel Den Haag - Nootdorp"><img class="c-navigation-meta__logo c-site-header__logo--sticky"
                                                             src="//mediabank.valkenhorst.nl/dist/img/logos/valk/valk-logo-branding.svg"
                                                             alt="Hotel Den Haag - Nootdorp" style=""></a></div>
                <div class="c-navigation-meta__col c-navigation-meta__col--r"></div>
            </div>
        </nav>
        <div id="header-stick-base">
            <div class="o-container c-site-header__container c-site-header__container--vertical"><a
                    class="c-site-header__logo u-visually-hidden-until-tablet" title="Hotel Den Haag - Nootdorp"
                    href="https://www.hoteldenhaag.nl/" style="width: 147px; min-width: 147px;"><img
                    class="c-site-header__logo--normal"
                    src="//mediabank.valkenhorst.nl/dist/img/logos/valk/hotels/den-haag-nootdorp.svg"/><img
                    class="c-site-header__logo--sticky"
                    src="//mediabank.valkenhorst.nl/dist/img/logos/valk/valk-logo-branding.svg"
                    title="Hotel Den Haag - Nootdorp" width="75"/></a>
                <div class="c-site-header__navigation c-site-header__navigation--vertical js-sticky-offset-container">
                    <span class="c-site-header__title u-visually-hidden-until-tablet">Hotel Den Haag - Nootdorp</span>
                </div>
            </div>
        </div>
    </header>
    <main id="main" class="o-main js-element-reached o-main--has-wave-element">
        <div class="c-progress-bar-container c-progress-bar--triangle-container js-sticky">
            <nav>
                <ol class="c-progress-bar c-progress-bar--triangle">
                    <li class="c-progress-bar__item is-done"><a href="https://www.hoteldenhaag.nl/restaurant/diner/"
                                                                class="c-progress-bar__label"><span
                            class="c-progress-bar__step">1</span><span class="u-visually-hidden-until-desktop">Gezelschap</span></a>
                    </li>
                    <li class="c-progress-bar__item is-current"><a
                            href="https://www.hoteldenhaag.nl/restaurant-boeken/check-account/"
                            class="c-progress-bar__label"><span class="c-progress-bar__step">2</span><span
                            class="u-visually-hidden-until-desktop">Uw gegevens</span></a></li>
                    <li class="c-progress-bar__item "><span class="c-progress-bar__label"><span
                            class="c-progress-bar__step">3</span><span
                            class="u-visually-hidden-until-desktop">Overzicht</span></span></li>
                    <li class="c-progress-bar__item "><span class="c-progress-bar__label"><span
                            class="c-progress-bar__step">4</span><span
                            class="u-visually-hidden-until-desktop">Verzonden</span></span></li>
                </ol>
            </nav>
        </div>
        <div class="o-page-panel">
            <div class="o-container"><h1>2. Uw gegevens</h1>
                <div class="o-layout">
                    <div class="o-layout__row">
                        <div class="o-layout__col u-12/12 u-7/12-from-tablet">
                            <form action="/restaurant-boeken/check-account/"
                                  class="js-disable-double-click js-ecommerce" data-ecommerce-pageview="checkEmail"
                                  enctype="multipart/form-data" method="post"><input name="__RequestVerificationToken"
                                                                                     type="hidden"
                                                                                     value="ykJ_PjaKWEdSfNxQZ2lxSKMbh-A7t79-exicjXHAvRbOiBG2FxwNuKlealS67KosTmCxczpp8YrxB16y1fz5c1LozI2c8-T9JpgVJr7FToUUkLXuYXSq57NdNeBjKyenbK9kUh-3SrHvSRz-3lA2cw2"/><label
                                    class="u-12/12" for="EmailAddress">E-mailadres</label><input
                                    class="o-form-text o-form-text--fullwidth text-box single-line" data-val="true"
                                    data-val-email="E-mailadres is ongeldig"
                                    data-val-maxlength="E-mailadres mag maximaal 250 karakters zijn"
                                    data-val-maxlength-max="250" data-val-regex="E-mailadres is ongeldig"
                                    data-val-regex-pattern="^(?:[a-zA-Z0-9!#$%&amp;&#39;*+=?^_`{|}~-]+(?:\.[a-zA-Z0-9!#$%&amp;&#39;*+=?^_`{|}~-]+)*|&quot;(?:[\x01-\x08\x0b\x0c\x0e-\x1f\x21\x23-\x5b\x5d-\x7f]|\\[\x01-\x09\x0b\x0c\x0e-\x7f])*&quot;)@(?:(?:[a-zA-Z0-9](?:[a-zA-Z0-9-]*[a-zA-Z0-9])?\.)+[a-zA-Z0-9](?:[a-zA-Z0-9-]*[a-zA-Z0-9])?|\[(?:(?:25[0-5]|2[0-4][0-9]|[01]?[0-9][0-9]?)\.){3}(?:25[0-5]|2[0-4][0-9]|[01]?[0-9][0-9]?|[a-zA-Z0-9-]*[a-zA-Z0-9]:(?:[\x01-\x08\x0b\x0c\x0e-\x1f\x21-\x5a\x53-\x7f]|\\[\x01-\x09\x0b\x0c\x0e-\x7f])+)\])$"
                                    data-val-required="E-mailadres is verplicht" id="EmailAddress" name="EmailAddress"
                                    tabindex="1" type="email" value=""/>
                                <div class="field-validation-valid o-form-validation-msg" data-valmsg-for="EmailAddress"
                                     data-valmsg-replace="true"></div>
                                <div class="c-content-box c-content-box--informative mt"><p>Wanneer uw e-mailadres nog
                                    niet bij ons bekend is vragen wij om nog een aantal ontbrekende gegevens toe te
                                    voegen. Daarna profiteert u <strong>direct van onze voordelen</strong> zoals het
                                    RestaurantID kortingsprogramma.</p></div>
                                <div class="c-form-controls"><a href="https://www.hoteldenhaag.nl/restaurant/diner/"
                                                                tabindex="4">Vorige</a>
                                    <button class="o-button c-button c-button--cta c-button--icon-next"
                                            data-disable-double-click-additional-classnames="is-busy" tabindex="2"><span
                                            class="c-button__caption">Volgende</span><span
                                            class="c-button__spinner"></span></button>
                                </div>
                                <div class="u-text-center mt-"><span class="c-divider-decoration"><span
                                        class="c-divider-decoration__label">Of</span></span>
                                    <ul>
                                        <li>
                                            <button type="button"
                                                    class="c-button c-button--content-text c-button--content-text--facebook js-facebook-login mt-"
                                                    tabindex="3"><span
                                                    class="c-button__caption">Login met Facebook</span><span
                                                    class="c-button__spinner"></span></button>
                                        </li>
                                    </ul>
                                </div>
                                <input name="ufprt" type="hidden"
                                       value="3BB6AD81637725BCD3C028B75DCC5C484B1EBF71CF1EA462B23CE52D3342798DB78AE2AA99F545BA41A746909CD043516F82AD7F445B765B66C05C82C54EBD4F9A7FA256C8BF2368F5BC694FD8F5D38481B3FBF9649883CD329435ED8A5F3D00A076E9CA479487B6AC4240152976DB7BCB58D52AED4E2779044CAB61B166F46F0AA054122ECB13FB53BFA870C3FEE43FECAF21626A831E8FAE3AD88048D757461BB6E3905E21094ACC0DF5C36E5423A3FFC0A7FA5C7D5CF50C567405059AF8718DC52D06BFB230B6BE52D92A75E6CF1EC2E5BEFD8F0633B35E603BAC50E342F3DCDBF5F0EB7BC81FA3E2E81CD946FB89"/>
                            </form>
                        </div>
                        <div class="o-layout__col u-12/12 u-5/12-from-tablet">
                            <div class="o-media o-media--vertical o-media--boxed u-shadow"><img
                                    src="//mediabank.valkenhorst.nl/imagebank/images/114/image108216/c300x450.png"
                                    alt="Hotel Den Haag - Nootdorp - Diner" title="Hotel Den Haag - Nootdorp - Diner"
                                    class="o-media__figure u-visually-hidden-until-tablet"/>
                                <div class="o-media__content c-basket js-ticket" data-ticket-total-price=""><h2
                                        class="gamma ">Diner</h2>
                                    <ul class="c-reservation-summary mb-">
                                        <li class="c-reservation-summary__value c-reservation-summary__value--hotel">
                                            <span class="c-reservation-summary__value__text">Hotel Den Haag - Nootdorp</span>
                                        </li>
                                        <li class="c-reservation-summary__value c-reservation-summary__value--date">
                                            <span class="c-reservation-summary__value__text"> zaterdag 10 juni 2023 om 19:30 uur </span>
                                        </li>
                                        <li class="c-reservation-summary__value c-reservation-summary__value--travelgroup">
                                            <span class="c-reservation-summary__value__text">2 volwassenen</span></li>
                                    </ul>
                                    <hr class="mt-- mb--">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <script type="json/options">
             { "translations": { "notifications": { "trengoFailed": { "title": "Helaas, er gaat iets mis", "message": "Probeer het later opnieuw.", "state": "error" } } } }
        </script>
        <button id="trengo-custom-button" class="c-trengo-button is-hidden js-trengo"><img
                src="//mediabank.valkenhorst.nl/dist/img/trengo-chat-icon.png" alt="Open Trengo" width="80"></button>
    </main>
    <footer id="footer"
            class="c-site-footer c-brand-image c-brand-image--footer c-brand-image--large c-site-footer--hide-distractions">
        <div class="c-wave-element c-site-footer__wave-element c-wave-element--contrast">
            <div class="c-wave-element__container">
                <div class="c-wave-element__element"></div>
            </div>
        </div>
        <div class="c-site-footer__payoff pb-"><span class="c-site-footer__title">Hotel Den Haag - Nootdorp</span><span
                class="c-site-footer__subtitle">Exclusief, voor ons allemaal</span></div>
    </footer>
</section>
<div class="c-feedbackify-tab-container js-feedbackify-tab-container is-hidden">
    <button class="c-feedbackify-tab-button js-feedbackify-tab-button" type="button">Feedback</button>
</div>
<article class="c-notification js-notification">
    <div class="c-notification__title js-notification-title"></div>
    <p class="c-notification__message u-hide-empty js-notification-message"></p>
    <button type="button" class="c-notification__dismiss js-notification-dismiss"><span class="u-visually-hidden">Verberg</span>
    </button>
</article>
<script type="module" src="//mediabank.valkenhorst.nl/dist/js/main.min.79adf73cc028a7bc8ad8e3009f748538.js"></script>
<script type="module" src="//mediabank.valkenhorst.nl/dist/js/vendors.min.b9eb656e5cdd3bda3692f3896b2b0c3b.js"></script>
</body>
</html>